@import "tailwindcss";
@keyframes scrollText {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* index.css or global stylesheet */
.hover-hollow {
  transition: all 0.3s ease;
}

.hover-hollow:hover {
  color: transparent;
  -webkit-text-stroke: 1px white;
}
